.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CUSTOM */

.Main {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 20px;
}

.Header {
  border: 1px solid red;
  padding: 40px 0 30px;
  display: flex;
}

.Navbar {
  margin-left: auto;
}

.Navbar Button {
  min-width: 100px;
  margin: 2px;
}

.About {
  height: 300px;
}

.background {
  background-color: lightblue;
  height: 520px;
  left: 0;
  min-width: 100%;
  top: 0;
}